:root {
    --fullwidth: 75vw;
}

html{
    font-size: 100%;
}

h1 {
    text-align: center;
}
body{
    background-color: #eeebe2;
    font-family: 'Roboto', sans-serif;
}
.main-input-wrapper{
    display: grid;
    /* grid-template-rows: 10rem; */
}
.main-input{
    font-family: "Roboto Mono";
    background-color: #eeebe2;
    color: #99947f;
    font-size: 1rem;
    border-width: 0rem;
    width: 100%;
    outline: none;
    resize: none;
}
#control-panel{
    width: 25vw;
    border-top: 1px solid #99947f;
    border-bottom: 1px solid #99947f;
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin: 0 auto;
}
#name-input{
    font-family: "Roboto Mono";
    background-color: #eeebe2;
    color: #99947f;
    width: 100%;
    box-sizing: border-box;
    border-top-width: 0rem;
    outline: none;
    resize: none;
    margin-top: 0.3vw;
    border-radius: 0.2rem;
    height: 2.5rem;
}
#control-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
}
#custom-control-button{
    border-radius: 0.2rem;
}
#toggle-control-button{
    border-radius: 0.2rem;
}
button{
    font-family: "Roboto Mono";
    color: #eeebe2;
    font-size: 0.8rem;
    background-color: black;
    height: 2.5rem;
    border-width: 0px;
    transition: background-color 0.15s, color 0.15s;
}
button:hover{
    background-color: #eeebe2;
    color: #99947f;
}
.content-container {
    margin: 0 auto;
    display: grid;
    width: var(--fullwidth);
    grid-template-rows: 5 rem 20rem 40rem;
    max-height: 100vh;
    /* background-color: green; */
}
  
